.container{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.user h1{
    font-size: 2.5rem;
}
.input{
   text-align: center;
   margin-top: 2rem;
}
#inputUser{
    border: none;
    outline: none;
    border-bottom: 3px solid #14a35b;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
}


@media (min-width:320px) and (max-width: 425px){
    .user h1{
        font-size: 1.8rem;
        text-align: center;
    }
    .input{
        display: flex;
        flex-direction: column;
        width: 60vw;
        margin: 2rem auto;
    }
}
@media (min-width:426px) and (max-width: 767px){
    .user h1{
        font-size: 1.8rem;
    }
    .input{
        display: flex;
        flex-direction: column;
        width: 60vw;
        margin: 2rem auto;
    }
    .btn-comecar{
        font-size: 1.2rem;
        padding: 20px;
    }
}